@if (!isUwu) {
  <adev-home-animation />
} @else {
  <div class="uwu-logo">
    <img src="assets/images/uwu.png" alt="Angular logo" />
  </div>
}
<!-- TBD: markers description -->
<div #marker1 style="position:absolute;top:2200px;border-top:1px solid red;width:100%"></div>
<div #marker2 style="position:absolute;top:3200px;border-top:1px solid blue;width:100%"></div>
<div class="adev-editor-scroll-container">
  <div class="adev-code-editor">
    @defer (on viewport(marker2); prefetch on viewport(marker1)) {
      <adev-code-editor [tutorialFiles]="tutorialFiles" />
    } @loading {
      <img alt="Code editor" />
    }
  </div>
</div>
