@if (!isUwu) {
  <adev-home-animation />
} @else {
  <div class="uwu-logo">
    <img src="assets/images/uwu.png" alt="Angular logo" />
  </div>
}
<!-- TBD: markers description -->
<div #lovedByMillions class="marker" style="top:3200px;border-top:1px solid red;"></div>
<div #buildForEveryone class="marker" style="top:4200px;border-top:1px solid blue;"></div>
<div class="adev-editor-scroll-container">
  <div class="adev-code-editor">
    @defer (on viewport(buildForEveryone); prefetch on viewport(lovedByMillions)) {
      <adev-code-editor [tutorialFiles]="tutorialFiles" />
    } @loading {
      <img alt="Code editor" />
    }
  </div>
</div>
