@mixin root-colors {
  /* Todo: Add context/classify */
  :root {
    /* Reds */
    --color-003: rgb(126, 40, 40);
    --color-052: #9b4807;
    --color-018: #d23a32;
    --color-032: #d32f2f;
    --color-033: #d83c34;
    --color-077: #ce271e;
    --color-058: #ff0040;
    --color-061: #e62222;
    --color-083: #ff0000;
    --color-034: #ff625a;
    --color-039: #ff7a7e;
    --color-068: #ea7171;
    --color-065: #dc8c61;
    --color-040: #f9c2c5;

    /* Greens */
    --color-031: #388e3c;
    --color-045: #28ab2c;
    --color-084: rgb(144, 238, 144);
    --color-046: #a7d5a9;
    --color-050: #a6d5a9;
    --color-078: #54c9bd;

    /* Blues */
    --color-067: #073d69;
    --color-072: #093e69;
    --color-009: #1b1aa5;
    --color-008: #1a73e8;
    --color-036: #4da1ff;
    --color-015: #4688f1;
    --color-056: #60a6fc;
    --color-014: #5caace;
    --color-063: #5cadd3;
    --color-044: #8bc1ff;
    --color-064: #91adcb;
    --color-073: #bbddfb;
    --color-055: #cfe8fc;
    --color-037: oklch(0.65 0.25 266 / 1);

    /* Purples */
    --color-051: #8a1882;
    --color-041: #8838f7;
    --color-042: #c79eff;

    /* Grayscale (some of them have a miniscule blueish shade) */
    --color-016: #000000;
    --color-005: rgb(17, 17, 17);
    --color-069: rgb(1, 1, 1, 0.2);
    --color-025: #161515;
    --color-026: #1a1a1a;
    --color-004: #202124;
    --color-066: #262d36;
    --color-048: #2f2c2c;
    --color-071: rgb(41, 42, 45);
    --color-079: #333333;
    --color-007: #3e3e3e;
    --color-082: #303030;
    --color-011: #474747;
    --color-012: #464646;
    --color-075: #454546;
    --color-080: #6e6e6e;
    --color-022: #777777;
    --color-053: #748591;
    --color-047: #8b8b8b;
    --color-035: #9b9b9b;
    --color-057: #9a9a9a;
    --color-049: #c4c4c4;
    --color-020: #c6c6c6;
    --color-006: #bcc5ce;
    --color-019: #dddddd;
    --color-010: #e2e2e2;
    --color-017: #e8e8e8;
    --color-054: #ebf1fb;
    --color-070: rgb(243, 243, 243);
    --color-021: #f5f5f5;
    --color-023: #f3f3f3;
    --color-024: #ffffff;

    /* with Alpha channel */
    --color-028: rgba(0, 0, 0, 0.87);
    --color-001: rgba(0, 0, 0, 0.2);
    --color-060: rgba(0, 0, 0, 0.03);
    --color-027: rgba(0, 0, 0, 0.12);
    --color-002: rgba(0, 0, 0, 0);
    --color-074: rgba(0, 0, 0, 0.05);
    --color-059: rgba(0, 0, 0, 0.003);
    --color-062: rgba(1, 1, 1, 0.05);
    --color-076: rgba(165, 165, 165, 0.05);
    --color-029: rgba(255, 255, 255, 0.12);
    --color-030: rgba(255, 255, 255, 0.87);
  }
}

/* Temporary */
$color-004: #202124;
$color-006: #bcc5ce;
