@use 'sass:color';
@use 'sass:map';
@use './theme' as theme;

/* prettier-ignore */
$_colors: (
  /* Reds */
  red-01: oklch(40% 0.1 26), // D; of red-07                             OUT OF SERVICE
  red-02: oklch(49.3% 0.2 26),
  red-03: oklch(55% 0.2 26), //                                          OUT OF SERVICE
  red-04: oklch(63% 0.2 26),
  red-05: oklch(68.8% 0.2 26), // D|L; of red-03
  red-07: oklch(86% 0.06 15), //                                          OUT OF SERVICE

  /* Greens */
  green-01: oklch(58% 0.13 145),
  green-02: oklch(65% 0.13 145),
  green-04: oklch(83% 0.13 145),

  /* Blues */
  blue-01: oklch(36% 0.1 258), // D; of blue-06                          OUT OF SERVICE
  // blue-02: oklch(38% 0.2 258),
  blue-03: oklch(57% 0.2 258),
  blue-04: oklch(72% 0.2 258), // D; of blue-02, purple-01               OUT OF SERVICE
  blue-06: oklch(83% 0.2 258), //                                        OUT OF SERVICE
  blue-07: oklch(91% 0.04 258), // NEW
  blue-08: oklch(96% 0.01 258), // NEW

  /* Purples */
  purple-01: oklch(47.5% 0.26 295),
  purple-02: oklch(57.9% 0.26 295),
  purple-03: oklch(76% 0.15 305),

  /* Full contrast */
  black: oklch(0% 0 0),
  white: oklch(100% 0 0), // D|L; of gray-500, black

  /* Grayscale */
  gray-800: oklch(24% 0 0),    // NEW                                  OUT OF SERVICE
  gray-700: oklch(27.68% 0 0), // D|L; of white, gray-100; BACKGROUND; OUT OF SERVICE
  gray-600: oklch(32% 0 0),    // D|L;                                 OUT OF SERVICE
  gray-500: oklch(36% 0 0),    // D|L; of gray-100, gray-200           OUT OF SERVICE
  gray-400: oklch(48% 0 0),    //                                      OUT OF SERVICE
  gray-300: oklch(68% 0 0),    //                                      OUT OF SERVICE
  gray-200: oklch(80% 0 0),    // D|L; of gray-700, black              OUT OF SERVICE
  gray-100: oklch(95% 0 0),    // D|L; of black                        OUT OF SERVICE

  /* Transparent */
  alpha-01: oklch(0% 0 0 / 0.2),  // D|L; of alpha-02                     OUT OF SERVICE
  alpha-02: oklch(0% 0 0 / 0.05), //                                      OUT OF SERVICE
  alpha-03: oklch(0% 0 0 / 0.8),  // NEW
  alpha-04: oklch(0% 0 0 / 0.35),  // NEW
);

@mixin _light-colors {
  /* Dynamic general purpose colors */
  --full-contrast: var(--black);

  --color-primary: var(--gray-800);
  --color-secondary: var(--gray-700);
  --color-tertiary: var(--gray-600);
  --color-quaternary: var(--gray-500);
  --color-quinary: var(--gray-400);
  --color-senary: var(--gray-300);
  --color-septenary: var(--gray-200);
  --color-octonary: var(--gray-100);

  --red-001: var(--red-03);
  --red-002: var(--red-07);

  --blue-001: var(--blue-06);

  --transparent-001: var(--alpha-02);
  --transparent-002: var(--alpha-04);

  /* Main colors – general UI colors like background and text color */
  --color-background: var(--white);
  --color-foreground: var(--blue-08);
  --color-text: var(--black);
  --color-separator: var(--blue-07);

  /* Special colors */
  --color-tree-node-element-name: #830042;
  --color-tree-node-dir-name: #953b13;
  --color-tree-node-ng-element: #0c3a96;
  --color-tree-node-console-ref: #146129;
  --color-tree-node-hovered: #f2f2f2;
  --color-tree-node-highlighted: #cddffd;
  --color-tree-node-matched: #f3ce49;

  --color-property-list-name: #71a2f7;
}

@mixin _dark-colors {
  /* Dynamic general purpose colors */
  --full-contrast: var(--white);

  --color-primary: var(--gray-100);
  --color-secondary: var(--gray-200);
  --color-tertiary: var(--gray-300);
  --color-quaternary: var(--gray-400);
  --color-quinary: var(--gray-500);
  --color-senary: var(--gray-600);
  --color-septenary: var(--gray-700);
  --color-octonary: var(--gray-800);

  --red-001: var(--red-05);
  --red-002: var(--red-01);

  --blue-001: var(--blue-01);

  --transparent-001: var(--alpha-01);
  --transparent-002: var(--alpha-03);

  /* Main colors */
  --color-background: var(--gray-700);
  --color-foreground: var(--gray-500);
  --color-text: var(--white);
  --color-separator: var(--gray-400);

  /* Special colors */
  --color-tree-node-element-name: #71a2f7;
  --color-tree-node-dir-name: #9ec0f9;
  --color-tree-node-ng-element: #fe824f;
  --color-tree-node-console-ref: #a1a1a1;
  --color-tree-node-hovered: #393939;
  --color-tree-node-highlighted: #00416c;
  --color-tree-node-matched: #906921;

  --color-property-list-name: #0c3a96;
}

/* Utilities */
@function convert-to-rgb($map) {
  $rgb-map: ();

  @each $name, $color in $map {
    $rgb-map: map-merge(
      $rgb-map,
      (
        $name: color.to-space($color, rgb),
      )
    );
  }

  @return $rgb-map;
}

@mixin convert-color-map-to-vars($colors) {
  @each $name, $color in $colors {
    --#{$name}: #{$color};
  }
}

/* Main */

/* Since Oklch global support is ~93%, we are converting colors to RGB. */
$colors: convert-to-rgb($_colors); /* Main color map */

@mixin root-colors {
  :root {
    @include convert-color-map-to-vars($colors);
    @include _light-colors();

    &.#{theme.$dark-theme-class} {
      @include _dark-colors();
    }
  }
}
