<div class="adev-header-and-tabs">
  <docs-viewer [docContent]="parsedDocContent().header" class="docs-reference-header"></docs-viewer>

  @for (section of sections(); track section.id) {
    <div class="adev-reference-tab-body">
      <h2>{{ section.title }}</h2>
      <hr />
      <docs-viewer [docContent]="section.content"></docs-viewer>
      @if (section.title === API_REFERENCE_TAB_API_LABEL) {
        <docs-viewer
          class="docs-reference-members-container"
          [docContent]="parsedDocContent().members"
          (contentLoaded)="membersCardsLoaded()"
        >
        </docs-viewer>
      }
    </div>
  }
</div>

<div id="jump-msg" class="cdk-visually-hidden">Jump to details</div>
